
.container{
    display: flex;
    border: solid 3px rgb(14, 155, 202);
    height: 600px;
    width: 400px;

    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;

}

.box{
    background-color: darkslategray;
    min-width: 100px;
    height: 100px;
    margin: 8px;

}